@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Roboto:wght@100;300;400;500;700&display=swap');

@mixin flex($justify, $align, $direction: row, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin bg($image, $size, $position: center center) {
    background-image: $image;
    background-position: $position;
    background-size: $size;
    background-repeat: no-repeat;
}

@mixin btn {
    background-color: $yellow;
    color: $black;
    padding: 20px 40px;
    text-transform: uppercase;
    cursor: pointer;
    transition: $transition;
    font-size: 1.2rem;
    border: none;
    outline: none;
    display: block;
    margin: auto;
}

$primary: #9baf6d;
$white: #fff;
$black: #000;
$gray: #ccc;
$transition: .4s ease-in;
$font-size: 16px;
$lh: 2;
$font1: 'Roboto', sans-serif;
$font2: 'Nanum Pen Script', cursive;
$ls: 3px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font1;
    background-color: #212121;
    
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
    @include bg(url('../img/Design-body-bg.png'), cover, right top);
}

header {
    @include bg(url('../img/Hero-bg.jpg'), cover);
    height: 100vh;
    position: relative;

    p {
        font-size: 4rem;
        color: $primary;
        text-transform: uppercase;
        position: absolute;
        top: 40%;
        right: 11%;
        letter-spacing: $ls;
    }

    h3 {
        font-size: 6rem;
        color: $primary;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        right: 9%;
        letter-spacing: $ls;
    }

    img {
        position: absolute;
        top: 18%;
        right: 35%;
    }

    button {
        position: absolute;
        top: 75%;
        right: 10%;
        font-size: 3rem;
        color: $primary;
        padding: 20px 40px;
        background: rgba(61, 64, 54,0.7);
        text-transform: uppercase;
        letter-spacing: $ls;
        cursor: pointer;
        border: 2px solid transparent;
        outline: none;
        font-weight: 100;
        transition: $transition;

        &:hover {
            border: 2px solid $primary;
        }
    }

    nav {
        ul {
            @include flex(flex-end, center);
            margin-right: 150px;
            li {
                margin: 50px 30px;

                a {
                    color: $primary;
                    font-size: 2rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: $transition;
                    padding-bottom: 5px;
                    border-bottom: 2px solid transparent;

                    &:hover {
                        border-bottom: 2px solid $primary;
                    }
                }
            }
        }
    }
}

.about {
    position: relative;

    article:first-child {
        @include flex(space-between, center);

        div:first-child {
            width: 40%;
            margin: auto;
            padding: 100px;
        }

        div:last-child {
            width: 60%;
            height: 100%;

            img {
                width: 100%;
                display: block;
                height: 100%;
            }
        }

        h2 {
            font-family: $font2;
            color: $primary;
            font-size: 2rem;
            margin-bottom: 50px;
        }

        p {
            line-height: $lh;
            color: $white;
            font-weight: bold;
        }
    }

    article:last-child { 
        @include flex(space-between, center);
        background: #3d4036b3;
        padding: 50px 150px;

        div {
            width: 25%;
  
           h2 {
              font-family: $font2;
              color: $white;
              margin: 30px 0;
              font-size: 2rem;
           }

           p {
              color: rgba(255, 255, 255, 0.582);
              font-weight: 100;
           }
        }
    }
}

.plates {
    margin: 80px 150px;
    padding: 20px 0 0;
    background: rgba(61, 64, 54,0.7);

    h2 {
        text-align: center;
        color: $primary;
        font-family: $font2;
        font-size: 3rem;
        margin: 60px 0 0 0;
    }

    h3 {
        text-align: center;
        text-transform: uppercase;
        color: $white;
        font-size: 3rem;
        font-weight: 200;
        margin-bottom: 60px;
    }

    article {
        @include flex(center, flex-start, row, wrap);

        &:first-of-type > div:nth-child(even),
        &:nth-of-type(2) > div:nth-child(odd),
        &:nth-of-type(3) > div:nth-child(even) {
           padding: 0 20px;
        }

        div {
            width: 25%;
            text-align: center;

            h2 {
                text-align: center;
                color: $primary;
                font-family: $font2;
                font-size: 2.5rem;
                margin: 60px 0 0 0;
            }
        
        
            h4 {
                color: $white;
                font-family: $font2;
                font-size: 2rem;
            }

            img {
                display: block;
                width: 100%;
            }

            p {
                color: rgba(255, 255, 255, 0.808);
                padding: 20px 0;
            }
        }
    }
}

.discover {
    position: relative;

    article:first-child {
        text-align: center;
        padding: 100px 150px;
        background: rgba(61, 64, 54,0.7);

        h2 {
            font-family: $font2;
            font-size: 3rem;
            color: $primary;
        }

        p {
            width: 70%;
            margin: 30px auto;
            font-size: 1.2rem;
            color: $white;
        }
    }

    article:nth-child(2) {
        position: absolute;
        top: 43.1%;
        background: rgb(61, 64, 54);
        padding: 20px;
        color: rgba(255, 255, 255, 0.705);

        h2 {
            font-family: $font2;
            font-size: 5rem;
            text-align: center;
            color: $primary;
        }

        h4 {
            text-align: center;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 300;
        }

        .discover-div {
            @include flex(center, center);
            padding: 0 40px;
            transform: translateY(-40px);

            div {
                padding-left: 150px;

                h3 {
                    font-size: 2rem;
                    font-family: $font2;
                    color: $primary;
                }

                p {
                    span {
                        font-weight: bold;
                        margin-left: 10px;
                        font-size: 2rem;
                        font-family: $font2;
                        color: $primary;
                    }
                }

                img {
                    background: rgba(255, 255, 255, 0.705);
                    transform: translate(-110px, 86px);
                    border-radius: 50%;
                    padding: 20px 15px;
                }
            }

        }
    }

    article:nth-child(3) {
        img {
            width: 100%;
        }
    }
}

.book-here{
    h2 {
        font-size: 5rem;
        font-family: $font2;
        text-align: center;
        margin: 30px 0;
        color: $primary;
    }

    form {
        @include flex(center, center);
        padding: 0 100px;

        div {
            color: $primary;
            width: 100%;
            margin: 0 50px;
            font-family: $font2;
            font-size: 2rem;
        }

        input {
            width: 100%;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.561);
            color: $white;
            margin: 30px 0;
            border: none;
            outline: none;
            
            &::placeholder {
                color: $white;
            }
        }
    }

    button {
        color: $primary;
        margin: 50px auto;
        font-family: $font2;
        background-color: transparent;
        padding: 10px 30px;
        text-transform: uppercase;
        font-size: 3rem;
        cursor: pointer;
        display: block;
        outline: none;
        background: rgb(61, 64, 54);
        border: 2px solid transparent;
        transition: $transition;

        &:hover {
            border: 2px solid $primary;
        }
    }
}

.new-menu {
    img {
        display: block;
        width: 100%;
    }

    article:first-of-type {
        background: rgba(61, 64, 54,0.7);
        padding: 40px 0px;

        h2 {
            font-family: $font2;
            font-size: 5rem;
            text-align: center;
            color: $primary;
        }

        h4 {
            text-align: center;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 300;
            color: $white;
        }
    }

    article:last-of-type {
        background: rgba(61, 64, 54,0.7);
        @include flex(center, center);
        padding: 20px 120px 70px;

        div {
             margin: 0 10px;
             background-color: rgba(0, 0, 0, 0.589);
             box-shadow: 2px 2px 20px $black;
             cursor: pointer;
             transition: $transition;

             &:hover {
                 transform: translateY(-20px);
             }

             h4 {
                margin: 20px 0;
                padding: 0 20px;
                color: $white;
             }

             h3 {
                padding: 0 20px;
                color: $primary;
                font-family: $font2;
                font-size: 2.5rem;
             }

             p {
                 margin: 20px 0;
                 padding: 0 20px;
                 color: $white;
             }

             button {
                 text-transform: uppercase;
                 border: none;
                 background-color: transparent;
                 padding: 10px;
                 margin-bottom: 20px;
                 margin-left: 20px;
                 font-size: 1.4em;
                 cursor: pointer;
                 transition: $transition;
                 color: $primary;
                 font-weight: bold;
                 font-family: $font2;

                 &:hover {
                    background: rgba(61, 64, 54,0.7);
                 }
             }
        }
    }
}

footer {
    article:first-child {
        text-align: center;
        padding: 60px 120px;
        
        p {
            color: $white;
            font-size: 1.2rem;
            margin: 30px 0;
        }

        h2 {
            color: $primary;
            font-family: $font2;
            font-size: 4rem;
            margin: 30px 0;
        }

        i {
            color: $primary;
            font-size: 2.5rem;
            padding: 20px;
            border-radius: 50%;
            margin: 20px;
            transition: $transition;
            cursor: pointer;
            &:hover {
                transform: translateY(-20px);
            }
        }
    }

    article:last-child { 
        @include flex(center, center);
        background: rgba(61, 64, 54,0.7);
        color: $white;
        padding: 60px 120px;

        div:first-child {
            width: 30%;

            img {
                width: 100%;
            }
        }

        div:last-child {
            margin-left: 180px;
            width: 70%;
            padding: 0 100px;
            border-left: 1px solid $white;

            h2 {
                font-family: $font2;
                font-size: 3rem;
                color: $primary;
            }
    
            p {
                line-height: $lh;
                margin-bottom: 20px;
            }
        }
    
    }
}

@media (max-width: 767px) {
    header {
        p {
            font-size: 2rem;
        }
    
        h3 {
            font-size: 3rem;
        }
    
        img {
            top: 18%;
            right: 15%;
        }
    
        button {
            top: 65%;
            font-size: 2rem;
        }
    
        nav {
            ul {
                @include flex(flex-end, center, row, wrap);
                    margin-right: 20px;
                   
                li {
                    margin: 50px 10px;
    
                    a {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    
    .about {
        article:first-child {
            @include flex(space-between, center, column);
    
            div:first-child {
                width: 100%;
                padding: 50px;
            }
    
            div:last-child {
                width: 100%;
            }
        }
    
        article:last-child { 
            @include flex(space-between, center, column);
            padding: 30px 60px;
    
            div {
                width: 100%;
    
               p {
                  margin-bottom: 50px;
               }
            }
        }
    }
    
    .plates {
        margin: 80px 0px;
        padding: 20px 0 0;
        article {
            @include flex(center, flex-start, column);
    
            &:first-of-type > div:nth-child(even),
            &:nth-of-type(2) > div:nth-child(odd),
            &:nth-of-type(3) > div:nth-child(even) {
                padding: 40px;
            }

            &:nth-of-type(2) {
                div:first-child {
                    background-color: red;
                    order: 1;
                }
            }
    
            div {
                width: 100%;
    
                h2 {
                    margin: 10px 0 0 0;
                }
            }
        }
    }
    
    .discover {
        article:first-child {
            padding: 100px 30px;
    
            p {
                width: 100%;
            }
        }
    
        article:nth-child(2) {
            position: static;
            padding: 20px;

            h2 {
                font-size: 4rem;
    
            }
    
            h4 {
                font-size: 2rem;
            }
    
            .discover-div {
                @include flex(center, center, column);
                padding: 0;
    
                div {
                    img {
                        transform: translate(-130px, 120px);
                    }
                }
    
            }
        }
    }

    .book-here{
        form {
            @include flex(center, center, column);
            padding: 0;
        }
    }
    
    .new-menu {
        article:first-of-type {
            h2 {
                font-size: 4rem;
            }
    
            h4 {
                font-size: 2rem;
            }
        }
    
        article:last-of-type {
            @include flex(center, center, column);
            padding: 20px 0px 70px;
    
            div {
                 margin: 20px 10px;
            }
        }
    }
    
    footer {
        article:first-child {
            padding: 60px 0;
        }
    
        article:last-child { 
            @include flex(center, center, column);
            padding: 60px 0;
    
            div:first-child {
                width: 50%;

                img {
                    margin-bottom: 50px;
                }
            }
    
            div:last-child {
                margin-left: 0;
                width: 100%;
                padding: 40px;
                border:  none;
                border-top: 1px solid $white;
            }
        
        }
    }
}   